@using DD4T.ContentModel;

@model IComponentPresentation
           
@{
    Layout = null;
    var fields = @Model.Component.Fields;
}

@Html.Partial("~/Views/Partials/CrumbsLight.cshtml")
<section class="brand-summary" itemscope itemtype="http://schema.org/Article">

    @Html.Partial("~/Views/Partials/HeaderSimple.cshtml")
   
    @if (fields.ContainsKey("by"))
    {
       @Html.Partial("~/Views/Partials/AuthorRating.cshtml", Model)
    }

    @if (fields.ContainsKey("banner"))
    {
        @Html.Banner(fields["banner"],"")
    }
    
    @if (fields.ContainsKey("body"))
    {
        var body = fields["body"];
        int totalSections = body.Values.Count;
        <div class="row-fluid">

        @if (totalSections == 1)
        {
            @body.Values[0].ResolveRichText()
        }
        else
        {
            for (int i = 0; i < totalSections; i++)
            {
                var comp = body.Values[i].ResolveRichText();
            <div class="span6">
            @comp
            </div>
            }
        }
        </div>
		<div class="row-fluid">
			<div class="span12">
				<footer>
					<ul class="actions">
				        <li>@{Html.RenderPartial("~/Views/Scrapbook/AddScrapbookItemForm.cshtml", Model.Component);}</li>
					</ul>
				</footer>
			</div>
		</div>
    }
   </section>

        