@using DD4T.ContentModel;

@model IComponentPresentation

@{
	Layout = null;

	// Overwrite default span declaration for pods - removes width styling
	ViewBag.PodGenericSpan = "nospan";
	
	var fields = @Model.Component.Fields;
	var banner = fields.ContainsKey("banner") ? fields["banner"] : null;	
	var categories = fields.ContainsKey("category") ? fields["category"].Keywords : null;
	var related = fields.ContainsKey("related") ? fields["related"].LinkedComponentValues : null;
}
<!-- @@ Template - T14 -->
@Html.Partial("~/Views/Partials/CrumbsLight.cshtml")
<section class="sidebar-layout" itemscope itemtype="http://schema.org/Blog">
	@Html.Partial("~/Views/Partials/HeaderSimple.cshtml")
	@Html.Partial("~/Views/Partials/AuthorRating.cshtml", Model)
	<div class="row-fluid">
		<div class="span7">
			@if (banner != null)
			{
			<div class="inline-image">
				@Html.Image(banner, new { @class = "shaded" })
				<ul class="actions">
				    <li>@{Html.RenderPartial("~/Views/Scrapbook/AddScrapbookItemForm.cshtml", banner.LinkedComponentValues[0]);}</li>
				</ul>
			</div>
			}
			@if (fields.ContainsKey("body"))
			{
	            @fields["body"].ResolveRichText()
			}
			<footer>
				<ul class="actions">
					<li>@{Html.RenderPartial("~/Views/Scrapbook/AddScrapbookItemForm.cshtml", Model.Component);}</li>
				</ul>
			</footer>
		</div>
		<div class="span4 pull-right">
			<aside>
				<div>
					<h2>@Html.GetResource("TaggedUnder")</h2>
					@{
						List<string> facetMap = new List<string>();

                        facetMap.Add(@Html.FacetKeyword(Model.Component, "brands"));
						facetMap.Add(@Html.FacetKeyword(Model.Component, "craftingtimes"));
						facetMap.Add(@Html.FacetKeyword(Model.Component, "designers"));
						facetMap.Add(@Html.FacetKeyword(Model.Component, "enduses"));
						facetMap.Add(@Html.FacetKeyword(Model.Component, "skilllevels"));
						facetMap.Add(@Html.FacetKeyword(Model.Component, "techniques"));
						facetMap.Add(@Html.FacetKeyword(Model.Component, "themes"));
						
						var facetList = String.Empty;

                        var separator = "";

					    foreach (var currentFacetSet in facetMap)
					    {
					        if(currentFacetSet.Length > 0)
					        {
					            facetList = facetList + separator + currentFacetSet;
					            separator = ", ";
					        }
					    }

					    <p>@(facetList).</p>
					}
					<ul>
						@if (categories != null)
						{
                            separator = "";
							<li>
								<strong>@Html.GetResource("EventCategory"):</strong>
							    @foreach (var category in categories)
							    {
							        @(category.Title + separator)
                                    
							        separator = ", ";
							    }
							</li>
                        }
					</ul>
				</div>
                 @if (related != null)
                 {
				<div>
					<h2>@Html.GetResource("FeaturedPost")</h2>
                   
				    @foreach (IComponent t in related)
				    {
				        @Html.Partial("~/Views/Partials/PodGeneric.cshtml", t)
				    }

				</div>
                 }
			</aside>
		</div>
	</div>
</section>