@using DD4T.ContentModel;
@using DD4T.Mvc.Html;
@using System.Linq;
@using Coats.Crafts.Configuration;

@model IComponentPresentation

@{
    Layout = null;

    var fields = @Model.Component.Fields;
    var CT = @Model.ComponentTemplate.Title;
}
<section class="component related-isotope izotaup">
	<div class="row-fluid ruled">
		<div class="span12">
			<h1>@(fields.ContainsKey("title") ? fields["title"].Value : string.Empty)</h1>
		</div>
	</div>
	<div class="pods">FEATURED ITEMS

@if (Model.Component.Fields.ContainsKey("items"))
{
    string thumbLink = string.Empty;
    string thumbUrl = string.Empty;
    var thumbWidth = 0; 
    var thumbHeight = 0;
    int counter = 0;
    int outerLoop = 0;
           
    foreach (IComponent comp in fields["items"].LinkedComponentValues)
    {
        counter++;

        outerLoop = counter % 3 == 0 ? 0 : 1;
        
        if (outerLoop == 0)
        {
            @Html.Raw("<div class='row-fluid'>");
        }

        if (comp.Schema.Title == "Crafts.Article")
        {
            @Html.Partial("~/Views/Partials/PodArticle.cshtml", comp)
        }
        else
        {
            @Html.Partial("~/Views/Partials/PodGeneric.cshtml", comp)
        }

        if (outerLoop == 0)
        {
            @Html.Raw("</div>");
        }
        
    }
}
