@using DD4T.ContentModel;
@using DD4T.Mvc.Html;
@using System.Text.RegularExpressions;
@using System.Collections.Generic;

@model IComponentPresentation

@{
    Layout = null;
    var fields = @Model.Component.Fields;
    string ltitle = string.Empty;
    string lurl = string.Empty;
 }

 
    @if (!User.Identity.IsAuthenticated)
    {
        // only display if not logged in
        
 <section class="cta-strip get-involved">
     <div class="row-fluid">
        <div class="span4">
            @if (fields.ContainsKey("title"))
            {
                var title = fields["title"];
                <h1>@(title.Value)</h1>
            }
            @if (fields.ContainsKey("subtitle"))
            {
                var sub = fields["subtitle"];
                <p>@Html.Raw(sub.Value)</p>
            }
        </div>
        @if (fields.ContainsKey("summary"))
        {
            var summ = fields["summary"];
            <div class="span4 text-center scroller">
				@Html.Raw(summ.Value)
            </div> 
        }
        
        @if (fields.ContainsKey("link"))
        {
            var link = fields["link"];
            var linkvals = link.EmbeddedValues[0];
            if (linkvals.ContainsKey("linkTitle"))
            {
                var linktitle = linkvals["linkTitle"];
                ltitle = linktitle.Value;
            }
            if (linkvals.ContainsKey("linkURL"))
            {
                var linkurl = linkvals["linkURL"];
                lurl = linkurl.Value;
            }
        }
   
        <div class="span4 text-center">
            <a class="btn yellow" href="@Url.Content("~/registration?source=/")">@Html.GetResource("Register")</a>
        </div>
    </div>
</section>

    }