@using DD4T.ContentModel;
@using DD4T.Mvc.Html;
@using System.Security.Principal;

@model IComponentPresentation
           
@{
    Layout = null;
    var fields = @Model.Component.Fields;
    var componentid = @Model.Component.Id;

    var videoUrl = string.Empty;
    var videoCaption = string.Empty;
    
    var videoComp = fields["video"].LinkedComponentValues[0];
	if (videoComp.Schema.Title == "Generic.Youtube")
	{
		var videoEmbed = videoComp.Fields["youtubeVideo"].EmbeddedValues[0];
		videoUrl = videoEmbed["url"].Value;	
		videoCaption = videoEmbed.ContainsKey("caption") ? videoEmbed["caption"].Value : string.Empty;
    }
}

<section class="component two-col-intro">
    <div class="row-fluid">
        <div class="span7">
            @if (@fields.ContainsKey("video"))
            {
                @Html.Video(fields["video"], new { width = "100%", height = "356" })
            }
        </div>
		<div class="span1 visible-desktop"></div>
        <div class="span4">
            <h1>@(fields.ContainsKey("title") ? fields["title"].Value : string.Empty)</h1>
            <p><a href="@videoUrl">@videoCaption</a></p>
            <div class="content">
                @(fields.ContainsKey("body") ? fields["body"].Value.ResolveRichText() : MvcHtmlString.Empty)
            </div>

                @if (fields.ContainsKey("related_links"))
                {
                    if (fields["related_links"].LinkedComponentValues.Count > 0)
                    {
                        foreach (IComponent linkItem in fields["related_links"].LinkedComponentValues)
                        {
                            if (linkItem.Fields.ContainsKey("link"))
                            {
                                IFieldSet linkEmbedded = linkItem.Fields["link"].EmbeddedValues[0];
                                <p>@Html.Link(linkItem.Fields["link"], linkEmbedded["linkTitle"])</p>
                            }
                        }
                    }
                }
        </div>
    </div>
</section>