@using DD4T.ContentModel;
@using DD4T.Mvc.Html;
@using Coats.Crafts.Extensions;
@using Coats.Crafts.Models;

@model IComponentPresentation

@{
    Layout = null;
    var schema = @Model.Component.Schema.Title;
    var fields = @Model.Component.Fields;
      
    var componentid = @Model.Component.Id;
    string title = fields.ContainsKey("title") ? fields["title"].Value : "Product awaiting a title";
    string productsearch = @Html.GetResource("SearchForAnotherProduct");
    string brand = string.Empty;
    var banner = fields.ContainsKey("banner") ? fields["banner"] : null;
    string productGroup = fields.ContainsKey("product_group") ? fields["product_group"].Value : "";
}
@Html.Partial("~/Views/Partials/CrumbsLight.cshtml")
<section class="sidebar-layout" itemscope itemtype="http://schema.org/Product">
    <div class="row-fluid headers">
	    <div class="span12">
			@if (fields.ContainsKey("title"))
			{
				<h1 itemprop="name">@Html.Raw(fields["title"].Value)</h1>
			}
			@if (fields.ContainsKey("sku")) {
				<span itemprop="sku" class="hidden">@fields["sku"].Value</span>
			}
            @{
				var thisbrand = fields["brand"];
			   
                try
                {
                    @Html.Image(thisbrand.Keywords[0].MetadataFields["logo"], new { itemprop = "logo" })
                }
                catch
                {
                    if (fields.ContainsKey("thumbnail"))
                    {
                        @Html.Image(fields["thumbnail"], new { itemprop = "logo" })
                    }
                }
           }
   	    </div>
    </div>
	<div class="row-fluid sidebar-layout product-info">
		<div class="span7">
           @Html.Banner(banner, "inline")

           @*//CCPLCR-119*@
           @if (banner != null && productGroup.ToLower() == "fabrics")
           {
                <span class="disclaimer">@Html.GetResource("FabricImageDisclaimer")</span>
           }
		@*	<footer>
				<p><a href="" title="" class="back-to-search">@productsearch</a></p>
			</footer>*@
		</div>
	    <div class="span4 pull-right">
		    <aside>
	         @if (schema.EndsWith("Haberdashery"))
             {
                @Html.Partial("~/Views/Partials/ProductHaberdashery.cshtml", Model.Component) 
             }
             @if (schema.EndsWith("HandKnitting"))
             {
                @Html.Partial("~/Views/Partials/ProductHandknitting.cshtml", Model.Component) 
             }
             @if (schema.EndsWith("Zip"))
             {
                @Html.Partial("~/Views/Partials/ProductZip.cshtml", Model.Component) 
             }
             @if (schema.EndsWith("ConsumerSewing"))
             {
                @Html.Partial("~/Views/Partials/ProductConsumerSewing.cshtml", Model.Component) 
             }
             @if (schema.EndsWith(".Embroidery"))
             {
                @Html.Partial("~/Views/Partials/ProductEmbroidery.cshtml", Model.Component) 
             }
             @if (schema.EndsWith("MachineEmbroidery"))
             {
                @Html.Partial("~/Views/Partials/ProductMachineEmbroidery.cshtml", Model.Component) 
             }
             @if (schema.EndsWith("Crochet"))
             {
                @Html.Partial("~/Views/Partials/ProductCrochet.cshtml", Model.Component) 
             }
             @if (schema.EndsWith("Kit"))
             {
                @Html.Partial("~/Views/Partials/ProductKit.cshtml", Model.Component) 
             }
             @if (schema.EndsWith("Publication"))
             {
                @Html.Partial("~/Views/Partials/ProductPublications.cshtml", Model.Component) 
             }
             @if (schema.EndsWith("Canvas"))
             {
                @Html.Partial("~/Views/Partials/ProductCanvas.cshtml", Model.Component) 
             }
             @if (schema.EndsWith("LifestyleFabric"))
             {
                @Html.Partial("~/Views/Partials/ProductLifeStyleFabric.cshtml", Model.Component) 
             }
  		    </aside>
        </div>
    </div>
	@if (schema.EndsWith("Haberdashery"))
    {
            @Html.Partial("~/Views/Partials/ProductHaberdasheryProductTable.cshtml", Model.Component) 
            @Html.Partial("~/Views/Partials/ProductColourSwatch.cshtml", Model.Component)      
    }
    @if (schema.EndsWith("Zip"))
    {
            @*//Client has asked us to remove the table for zips because there's never more than one model (CC-1245)*@
            @*@Html.Partial("~/Views/Partials/ProductZipTable.cshtml", Model.Component) *@
    }
    @if (schema.EndsWith("HandKnitting"))
    {
            @Html.Partial("~/Views/Partials/ProductColourSwatch.cshtml", Model.Component) 
    }
    @if (schema.EndsWith("LifestyleFabric"))
    {
            @Html.Partial("~/Views/Partials/ProductColourSwatch.cshtml", Model.Component) 
    }
    @if (schema.EndsWith("ConsumerSewing"))
    {
            @Html.Partial("~/Views/Partials/ProductConsumerSewingTable.cshtml", Model.Component) 
    }
    @if (schema.EndsWith("Crochet"))
    {
            @Html.Partial("~/Views/Partials/ProductCrochetTable.cshtml", Model.Component) 
    }
    @if (schema.EndsWith("MachineEmbroidery"))
    {
            @Html.Partial("~/Views/Partials/ProductMachineEmbroideryTable.cshtml", Model.Component) 
    }
    @if (schema.EndsWith(".Embroidery"))
    {
        @Html.Partial("~/Views/Partials/ProductMachineEmbroideryTable.cshtml", Model.Component) 
    }
</section>


