@using DD4T.ContentModel;
@using Coats.Crafts.Extensions;
@model IComponentPresentation
@{
    Layout = null;
}
<!-- @@ Template - T14 -->
@{
    uint numColumns = 4;
}
@Html.Partial("~/Views/Partials/CrumbsLight.cshtml")
<section class="sitemap" itemscope itemtype="http://schema.org/Blog">
    @Html.Partial("~/Views/Partials/HeaderSimple.cshtml")
        <div class="row-fluid">
        @for (int x = 0; x < SiteMap.RootNode.GetAllFilteredSiteMapNodes().Count; x++)
        {
            var node = SiteMap.RootNode.GetAllFilteredSiteMapNodes()[x];
            
            string nodeTitle = node.Title;
            if (node["navigationtitle"] != "")
            {
                nodeTitle = node["navigationtitle"];
            }

            if (node["showinsitemap"] == "Yes")
            {
                var divClass = "sitemapnode";
                
                if ((x) % 4 == 0)
                {
                    divClass += " alpha";
                }
                <div class="span3 @divClass">
                    <div class="header"><a href="@node.Url">@nodeTitle</a></div>
                    <div class="list">
                        @if (node.HasChildNodes)
                        {
                            <ul>
                                @foreach (SiteMapNode child in node.ChildNodes)
                                {
                                    if (child["showinsitemap"] == "Yes")
                                    {
                                        string cNodeTitle = child.Title;
                                        if (child["navigationtitle"] != "")
                                        {
                                            cNodeTitle = child["navigationtitle"];
                                        }
                                        if (child["navigationtitle"] != "Kreative Köpfe")
                                        {
                                            <li><a href="@child.Url">@cNodeTitle</a></li>
                                        }
                                    }
                                }
                            </ul>
                        }
                    </div>
                </div>  
                if ((x + 1) % 4 == 0)
                { 
                    <div class="divider"></div>
                }
            
            }
        }
    </div>
</section>
@* @for (var colLoop = 0; colLoop < numColumns; colLoop++)
    {
        int startIndex = (int)(colLoop * (columnCutoff) );

        if (startIndex == 0)
        {
            if (nodeCount % numColumns != 0)
            {
                columnCutoff = columnCutoff + 1;
            }
        }

        if (startIndex > 0)
        {
            if (nodeCount % numColumns != 0)
            {
                columnCutoff = columnCutoff - 1;
            }
        } 
        
        <ul>
                                            
            @for (int loop = startIndex; loop < startIndex + columnCutoff; loop++)
            {
                var node = SiteMap.RootNode.GetAllFilteredSiteMapNodes()[loop];

                string nodeTitle = node.Title;
                if (node["navigationtitle"] != "")
                {
                    nodeTitle = node["navigationtitle"];
                }
                                
                <li class="section">

                    <a href="@node.Url" title="@nodeTitle">@nodeTitle</a>
                    @if (node.HasChildNodes)
                    {
                        string sitemapsection = "";

                        foreach (SiteMapNode child in node.ChildNodes)
                        {
                            string children = "";

                            if (child["showinsitemap"] == "Yes")
                            {
                                string childtitle = child.Title;

                                if (child["navigationtitle"] != "")
                                {
                                    childtitle = child["navigationtitle"];
                                }

                                children += "<a href='" + child.Url + "' title='" + childtitle + "'>" + childtitle + "</a>";
                                
                                string grandchildren = "";

                                if (child.HasChildNodes)
                                {
                                    foreach (SiteMapNode grandchild in child.ChildNodes)
                                    {
                                        string grandchildtitle = grandchild.Title;

                                        if (child["breadcrumbtitle"] != "")
                                        {
                                            grandchildtitle = grandchild["breadcrumbtitle"];
                                        }
                                        
                                        if (grandchild["showinsitemap"] == "Yes")
                                        {
                                            grandchildren += "<li><a href='" + grandchild.Url + "' title='" + grandchildtitle + "'>" + grandchildtitle + "</a></li>";
                                        }
                                    }

                                    if (grandchildren != "")
                                    {
                                        sitemapsection += "<li class='subsection'>";
                                        sitemapsection += "<span class='collapser'>+</span>";
                                        sitemapsection += children;
                                        sitemapsection += "<ul class='collapsee collapsed'>" + grandchildren + "</ul>";
                                        sitemapsection += "</li>";
                                    }
                                    else
                                    {
                                        sitemapsection += "<li class='subsection'>" + Html.Raw(children) + "</li>";
                                    }
                                }
                                else
                                {
                                    sitemapsection += "<li class='subsection'>" + Html.Raw(children) + "</li>";
                                }
                            }
                        }

                        if (sitemapsection != "")
                        {
                            <ul>@Html.Raw(sitemapsection)</ul>
                        }
                    }
                </li>            
            }

        </ul> 
        }   

	</div>
</section>*@