@using DD4T.ContentModel;
@using DD4T.Mvc.Html;

@model IComponentPresentation

@{
    Layout = null;
    var promo = @Model.Component.Fields;
}

<section class="component three-col-feature izotaup">
    <div class="row-fluid ruled">
        <div class="span12">
            <h1>@(promo.ContainsKey("title") ? promo["title"].Value : string.Empty)</h1>
            @if (promo.ContainsKey("link"))
            {
                <span>@Html.Link(promo["link"])</span>
            }
        </div>
    </div>
    <div class="pods">
        <div class="row-fluid">

        @if (Model.Component.Fields.ContainsKey("items"))
        {
           foreach (IComponent comp in Model.Component.Fields["items"].LinkedComponentValues)
           {
               if (comp.Schema.Title == "Crafts.Article")
               {
                @Html.Partial("~/Views/Partials/PodArticle.cshtml", comp)
               }
               else
               {
                @Html.Partial("~/Views/Partials/PodGeneric.cshtml", comp)
               }
           }
        }
        </div>
    </div>
</section> 
