@model Coats.Crafts.Controllers.CommentsController.CommentIDs

@{
    Layout = null;
    var componentId = @Model.ComponentID;
    var fredHopperId = @Model.FredHopperID;

	// Labels and links
	String textAddComment = Html.GetResource("AddYourComment");
	String textPostComment = Html.GetResource("PostAComment");
	String textAddCommentValMessage = Html.GetResource("PleaseAddComment");
    String textSucessCommentMessage = Html.GetResource("SuccessCommentMessage");
    String textRemainingcharactersMessage = Html.GetResource("Remainingcharacters");
}

<h2>@textAddComment</h2>

@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("AddComment", "comments", FormMethod.Post, new { @class = "form-horizontal ", @id = "comment" }))
    {
		<div class="control-group">
        @if (Request.Url.PathAndQuery.ToString().Contains("?commented") )
				{
                             <div class="commentaddedsuccessfully">
					            <span>@textSucessCommentMessage</span>
				            </div>
                }
			

			@Html.TextAreaFor(m => m.myComment, new { @maxlength = 255, @rows="5", cols="30", @class = "input-block-level" })
			<span class="comment-count">@Html.GetResource("Maximum255characters")</span>
		</div>
		<div class="control-group">
			@Html.ValidationMessageFor(model => model.myComment)
			@if (Request.QueryString["error"] == "1")
               {
				            <div class="field-validation-error">
					            <span>@textAddCommentValMessage</span>
				            </div>
               }
              
            <input type="hidden" value="@textRemainingcharactersMessage" name="Remainingcharacters" id="Remainingcharacters" />
			<input type="hidden" value="@componentId" name="ComponentID" id="ComponentID" />
			<input type="hidden" value="@fredHopperId" name="FredHopperID" id="FredHopperID" />
			<button type="submit" id="SubmitComment" class="btn pink">@textPostComment</button>
		</div>
    }
}
else
{
    // Inclusion of action=true forces redirect after login/registration first step
	<div class="control-group">
		<a href="@Url.Content("~/registration/index.html?action=true&ReturnUrl=" + Request.Url.AbsolutePath)" title="@textPostComment" class="btn pink" rel="nofollow">@textPostComment</a>
	</div>
}
