@using DD4T.ContentModel;
@using DD4T.Mvc.Html;
@using Coats.Crafts.Configuration;

@{
    var urlStoreFinder = Url.Content(currentConfig.StoreFinder.AddApplicationRoot());
}

<div class="component find-store">
    <div class="row-fluid">
        <div class="span12">
            <h1>@Html.GetResource("FindAStoreNearYou")</h1>
            <form action="@urlStoreFinder" method="post">
                @Html.Raw(Html.SpamProtectionTimeStamp())
                <input type="text" name="Postcode" placeholder="@Html.GetResource("EnterPostcodeOrTown")" />
                <input type="hidden" name="Distance" value="@WebConfiguration.Current.StoreLocatorDefaultValue" />
                <input class="btn yellow" type="submit" name="submit" value="@Html.GetResource("StoreLocatorSearchButtonText")" />
            </form>
        </div>
    </div>
</div>