@using Coats.Crafts.Models;

@model HomePageBannerContent

@{    
    string span = ViewBag.PodGenericSpan;
    if (string.IsNullOrEmpty(span)) { span = "span3"; }
    int itemsPerRow = (span == "span3") ? 4 : 3;
}

<section class="component filtered-isotope clearfix">
	<div class="row-fluid">
		<ul class="filters">
			@for(var i = 0; i < Model.Tabs.Count; i++) {

				var item = Model.Tabs[i];
	   
				string cssClass = item.Selected ? "selected" : "";

				if (i == 0) {
					cssClass += " first";
				}
				if (i == (Model.Tabs.Count - 1)) {
					cssClass += " last";
				}

                @* Removing this as it still triggered the RESX to be loaded even though its not needed anymore *@
                @*string translation = Html.GetResource("labels/categories.resx", item.Text);*@
				
				@*<li class="@cssClass"><a href="#" title="@translation" data-filter="@item.Value"><span>@translation</span></a></li>*@
   				<li class="@cssClass"><a href="#" title="@item.Text" data-filter="@item.Value"><span>@item.Text</span></a></li>
            }
		</ul>
	</div>
	<div class="pods">
        @foreach (var item in Model.FredHopperComponents)
        {
            @Html.Partial("~/Views/Partials/PodGeneric.cshtml", item);
        }
	</div>
</section>