@using DD4T.ContentModel;
@model IComponent
@{
    Layout = null;
    var fields = @Model.Fields;
    string article = string.Empty;
    string fibre = string.Empty;
    string designer = string.Empty;
    string weight = string.Empty;
    string size = string.Empty;
    string fabric = string.Empty;
    string desc = string.Empty;
    string collection = string.Empty;
    string substrate = string.Empty;
    string pattern = string.Empty;
    string package = string.Empty;
    string recommend = string.Empty;
    string body = string.Empty;
    string categories = string.Empty;

    if (fields.ContainsKey("article_ticket"))
    {
        var tic = fields["article_ticket"];
        article = tic.Value;
    }
    if (fields.ContainsKey("composition"))
    {
        fibre = @Html.CategoryList(fields["composition"]);
    }
    if (fields.ContainsKey("weight"))
    {
        weight = @Html.CategoryList(fields["weight"]);
    }
    if (fields.ContainsKey("size"))
    {
        size = fields["size"].Value;
    }
    if (fields.ContainsKey("designer"))
    {
        designer = fields["designer"].Value;
    }
    if (fields.ContainsKey("fabric_type"))
    {
        fabric = @Html.CategoryList(fields["fabric_type"]);
    }
    if (fields.ContainsKey("collection"))
    {
        collection = fields["collection"].Value;
    }
    if (fields.ContainsKey("substrate"))
    {
       // substrate = fields["substrate"].Value;
        substrate = @Html.CategoryList(fields["substrate"]);
    }
    if (fields.ContainsKey("pattern"))
    {
        pattern = @Html.CategoryList(fields["pattern"]);
    }
    if (fields.ContainsKey("package"))
    {
        package = @Html.CategoryList(fields["package"]);
    }
    if (fields.ContainsKey("recommendations"))
    {
        recommend = fields["recommendations"].Value;
    }
    if (fields.ContainsKey("summary"))
    {
        desc = fields["summary"].Value.ResolveRichText().ToHtmlString();
    }
    if (fields.ContainsKey("body"))
    {
        body = fields["body"].Value.ResolveRichText().ToHtmlString();
    }
    if (fields.ContainsKey("categories"))
    {
        categories = @Html.CategoryList(fields["categories"]); ;
    }
        
}
<div>
    <ul>
        <li><strong>@Html.GetResource("Details")</strong></li>
        @if (!String.IsNullOrEmpty(article))
        { <li><strong>@Html.GetResource("ArticleNumber"):</strong>
            @article</li> }
        @if (!String.IsNullOrEmpty(designer))
        { <li><strong>@Html.GetResource("Designer"):</strong>
            @designer</li> }
        @if (!String.IsNullOrEmpty(collection))
        { <li><strong>@Html.GetResource("Collection"):</strong>
            @collection</li> }
        @if (!String.IsNullOrEmpty(fabric))
        { <li><strong>@Html.GetResource("Fabric"):</strong>
            @fabric</li> }
        @if (!String.IsNullOrEmpty(size))
        { <li><strong>@Html.GetResource("FabricSize"):</strong>
            @size</li> }
        @if (!String.IsNullOrEmpty(fibre))
        { <li><strong>@Html.GetResource("FibreContent"):</strong>
            @fibre</li> }
        @if (!String.IsNullOrEmpty(weight))
        { <li><strong>@Html.GetResource("Weight"):</strong>
            @weight</li> }
        @if (!String.IsNullOrEmpty(categories))
        { <li><strong>@Html.GetResource("Category"):</strong>
            @categories</li> }
        @if (!String.IsNullOrEmpty(substrate))
        { <li><strong>@Html.GetResource("Substrate"):</strong>
            @substrate</li> }
@* @if (!String.IsNullOrEmpty(pattern)) { <li><strong>@Html.GetResource("Pattern"):</strong> @pattern</li> }*@
        @if (!String.IsNullOrEmpty(package))
        { <li><strong>@Html.GetResource("Package"):</strong>
            @package</li> }
    </ul>
</div>
@if (!String.IsNullOrEmpty(body))
{
    <div>
        <p>@Html.Raw(body)</p>
    </div>
}
@if (!Coats.Crafts.Configuration.WebConfiguration.Current.DisableWishList)
{
    <div>
        @Html.Partial("~/Views/ShoppingList/AddItem.cshtml", Model)
    </div>
}
@if (fields.ContainsKey("care"))
{
    Html.RenderPartial("~/Views/Partials/ProductCareInstructions.cshtml", fields["care"]);
}