@using DD4T.ContentModel;
@model IComponent
@{
    Layout = null;
    var fields = @Model.Fields;
    string sku = string.Empty;
    string subbrand = string.Empty;
    string segment = string.Empty;
    string designer = string.Empty;
    string skill = string.Empty;
    string desc = string.Empty;
    string detail = string.Empty;
    string body = string.Empty;
    string pub_technique = String.Empty;
    string type_designs = String.Empty;

    if (fields.ContainsKey("sku"))
    {
        var f = fields["sku"];
        sku = f.Value;
    }
    if (fields.ContainsKey("segment"))
    {
        segment = @Html.CategoryList(fields["segment"]);
    }
    if (fields.ContainsKey("designer"))
    {
        designer = @Html.CategoryList(fields["designer"]);
    }
    if (fields.ContainsKey("skill"))
    {
        skill = @Html.CategoryList(fields["skill"]);
    }
    if (fields.ContainsKey("brand"))
    {
        detail = fields["brand"].Value;
    }
    if (fields.ContainsKey("type"))
    {
        subbrand = @Html.CategoryList(fields["type"]);
    }
    if (fields.ContainsKey("summary"))
    {
        body = fields["summary"].Value.ResolveRichText().ToHtmlString();
    }
    if (fields.ContainsKey("body"))
    {
        body = fields["body"].Value.ResolveRichText().ToHtmlString();
    }
    if (fields.ContainsKey("pub_technique"))
    {
        pub_technique = @Html.CategoryList(fields["pub_technique"]);
    }
    if (fields.ContainsKey("type_designs"))
    {
        type_designs = @Html.CategoryList(fields["type_designs"]);
    }        
}
<div>
    <ul>
        <li><strong>@Html.GetResource("Details")</strong></li>
        @if (!String.IsNullOrEmpty(sku))
        { <li><strong>@Html.GetResource("SKU"):</strong> @sku</li> }
        @if (!String.IsNullOrEmpty(subbrand))
        { <li><strong>@Html.GetResource("ProductDescriptionType"):</strong>
            @subbrand</li> }
        @if (!String.IsNullOrEmpty(segment))
        { <li><strong>@Html.GetResource("Segment"):</strong>
            @segment</li> }
        @if (!String.IsNullOrEmpty(designer))
        { <li><strong>@Html.GetResource("Designer"):</strong>
            @designer</li> }
        @if (!String.IsNullOrEmpty(pub_technique))
        { <li><strong>@Html.GetResource("Technique"):</strong>
            @pub_technique</li> }
        @if (!String.IsNullOrEmpty(type_designs))
        { <li><strong>@Html.GetResource("PubTypes"):</strong>
            @type_designs</li> }
        @if (!String.IsNullOrEmpty(skill))
        { <li><strong>@Html.GetResource("Skill"):</strong>
            @skill</li> }
    </ul>
</div>
@if (!String.IsNullOrEmpty(body))
{
    <div>
        <p>@Html.Raw(body)</p>
    </div>
}
@if (!Coats.Crafts.Configuration.WebConfiguration.Current.DisableWishList)
{
    <div>
        @Html.Partial("~/Views/ShoppingList/AddItem.cshtml", Model)
    </div>
}