@using DD4T.ContentModel;
@model IComponent
@{
    Layout = null;
    var fields = @Model.Fields;
    string sku = string.Empty;
    //string title = string.Empty;
    string category = string.Empty;
    string segment = string.Empty;
    string fabric = string.Empty;
    string designer = string.Empty;
    string finishedsize = string.Empty;
    string finished_design_size = string.Empty;
    string skill = string.Empty;
    string desc = string.Empty;
    string technique = string.Empty;
    string special = string.Empty;
    string detail = string.Empty;
    string price = string.Empty;
    string body = string.Empty;
    string kit_techniques = string.Empty;
    //string patterns = string.Empty;

    if (fields.ContainsKey("sku"))
    {
        var f = fields["sku"];
        sku = f.Value;
    }
    //if (fields.ContainsKey("title"))
    //{
    //    var f = fields["title"];
    //    title = f.Value;
    //}
    if (fields.ContainsKey("segment"))
    {
        segment = @Html.CategoryList(fields["segment"]);
    }
    if (fields.ContainsKey("category"))
    {
        category = @Html.CategoryList(fields["category"]);
    }
    if (fields.ContainsKey("finished_size"))
    {
        finishedsize = fields["finished_size"].Value;
    }
    if (fields.ContainsKey("finished_design_size"))
    {
        finished_design_size = @Html.CategoryList(fields["finished_design_size"]);
    }
    if (fields.ContainsKey("skill"))
    {
        skill = @Html.CategoryList(fields["skill"]);
    }
    if (fields.ContainsKey("special"))
    {
        special = fields["special"].Value;
    }
    if (fields.ContainsKey("summary"))
    {
        desc = fields["summary"].Value.ResolveRichText().ToHtmlString();
    }
    if (fields.ContainsKey("body"))
    {
        body = fields["body"].Value.ResolveRichText().ToHtmlString();
    }
    if (fields.ContainsKey("brand"))
    {
        detail = detail + fields["brand"].Value;
    }
    if (fields.ContainsKey("kit_techniques"))
    {
        kit_techniques = @Html.CategoryList(fields["kit_techniques"]);
    }

            //if (fields.ContainsKey("designer"))
            //{
            //    designer = fields["designer"].Value;
            //}
            //if (fields.ContainsKey("fabric_type"))
            //{
            //    fabric = fields["fabric_type"].Value;
            //}
            //if (fields.ContainsKey("pattern"))
            //{
            //    patterns = @Html.CategoryList(fields["pattern"]);
            //}  
            
}
<div>
    <ul>
        <li><strong>@Html.GetResource("Details")</strong></li>
        @if (!String.IsNullOrEmpty(sku))
        { <li><strong>@Html.GetResource("SKU"):</strong> @sku</li> }
        @if (!String.IsNullOrEmpty(category))
        {
            <li><strong>@Html.GetResource("Category"):</strong> @category</li>
        }
        @if (!String.IsNullOrEmpty(segment))
        {
            <li><strong>@Html.GetResource("Segment"):</strong> @segment</li>
        }
        @if (!String.IsNullOrEmpty(kit_techniques))
        {
            <li><strong>@Html.GetResource("Technique"):</strong> @kit_techniques</li>
        }
        @if (!String.IsNullOrEmpty(finishedsize))
        {
            <li><strong>@Html.GetResource("FinishedSize"):</strong> @finishedsize</li>
        }
        @if (!String.IsNullOrEmpty(special))
        {
            <li><strong>@Html.GetResource("Special"):</strong> @special</li>
        }
        @if (!String.IsNullOrEmpty(skill))
        {
            <li><strong>@Html.GetResource("Skill"):</strong> @skill</li>
        }
@*  
            @if (!String.IsNullOrEmpty(fabric))
            {
			    <li><strong>@Html.GetResource("Fabric"):</strong> @fabric</li>
            }
			@if (!String.IsNullOrEmpty(designer))
            {
                <li><strong>@Html.GetResource("Designer"):</strong> @designer</li>
            }
            @if (!String.IsNullOrEmpty(patterns))
            {
                <li><strong>@Html.GetResource("Pattern"):</strong> @patterns</li>
            } *@
    </ul>
</div>
@if (!String.IsNullOrEmpty(body))
{
    <div>
        <p>@Html.Raw(body)</p>
    </div>
}
@if (!Coats.Crafts.Configuration.WebConfiguration.Current.DisableWishList)
{
    <div>
        @Html.Partial("~/Views/ShoppingList/AddItem.cshtml", Model)
    </div>
}
@if (fields.ContainsKey("care"))
{
    Html.RenderPartial("~/Views/Partials/ProductCareInstructions.cshtml", fields["care"]);
}