@using DD4T.ContentModel;

@model IComponent

@{
    Layout = null;
    var fields = @Model.Fields;
    string fibre = string.Empty;
    string recommend = string.Empty;
    string body = string.Empty;
    string enduses = string.Empty;
    string categories = string.Empty;

    if (fields.ContainsKey("categories"))
    {
        categories = @Html.CategoryList(fields["categories"]);
    }
    if (fields.ContainsKey("summary"))
    {
        body = fields["summary"].Value.ResolveRichText().ToHtmlString();
    }
    if (fields.ContainsKey("body"))
    {
        body = fields["body"].Value.ResolveRichText().ToHtmlString();
    }
    if (fields.ContainsKey("composition"))
    {
        fibre = @Html.CategoryList(fields["composition"]);
    }
    if (fields.ContainsKey("recommedations"))
    {
        recommend = fields["recommendations"].Value;
    }
    if (fields.ContainsKey("end_uses"))
    {
        enduses = @Html.CategoryList(fields["end_uses"]);
    }     
}		
   <div>
		<ul>
			<li><strong>@Html.GetResource("Details")</strong></li>
	         @if (!String.IsNullOrEmpty(fibre)) { <li><strong>@Html.GetResource("FibreContent"):</strong> @fibre</li> }
            @if (!String.IsNullOrEmpty(categories)) { <li><strong>@Html.GetResource("Category"):</strong> @categories</li> }            
			@if (!String.IsNullOrEmpty(enduses)) { <li><strong>@Html.GetResource("end_uses"):</strong> @enduses</li> }
 	    </ul>
	</div>
    @if (!String.IsNullOrEmpty(body))
    {
	<div>
        <p>@Html.Raw(body)</p>
	</div>
    }
    @if (!Coats.Crafts.Configuration.WebConfiguration.Current.DisableWishList)
    {
	<div>
		@Html.Partial("~/Views/ShoppingList/AddItem.cshtml", Model)
	</div>
    }
    @if (!string.IsNullOrEmpty(recommend))
    {
        <div>
		    <h2>@Html.GetResource("RecommendedNeedles")</h2>
            @Html.Raw(@recommend)
  	    </div>
    }
	@if (fields.ContainsKey("care")) {
		Html.RenderPartial("~/Views/Partials/ProductCareInstructions.cshtml", fields["care"]);
	}