@using DD4T.ContentModel;

@model IComponent

@{
    Layout = null;
    var fields = @Model.Fields;
    string sku = string.Empty;
    string segment = string.Empty;
    string fabric = string.Empty;
    string designer = string.Empty;
    string finishedsize = string.Empty;
    string skill = string.Empty;
    string body = string.Empty;
    string title = string.Empty;
    string patterns = string.Empty;
        
    if (fields.ContainsKey("sku"))
    {
        var f = fields["sku"];
        sku = f.Value;
    }
    if (fields.ContainsKey("title"))
    {
        var f = fields["title"];
        title = f.Value;
    }
    if (fields.ContainsKey("segment"))
    {
        segment = @Html.CategoryList(fields["segment"]);
    }
    if (fields.ContainsKey("fabric_type"))
    {
        //fabric = @Html.CategoryList(fields["fabric_type"]);
		fabric = fields["fabric_type"].Value;
    }
    if (fields.ContainsKey("designer"))
    {
        designer = @Html.CategoryList(fields["designer"]);
    }
    if (fields.ContainsKey("finished_size"))
    {
        finishedsize = fields["finished_size"].Value;
    }
    if (fields.ContainsKey("skill"))
    {
        skill = @Html.CategoryList(fields["skill"]);
    }
     
    if (fields.ContainsKey("summary"))
    {
        body = fields["summary"].Value.ResolveRichText().ToHtmlString();
    }
    if (fields.ContainsKey("body"))
    {
        body = fields["body"].Value.ResolveRichText().ToHtmlString();
    }

    if (fields.ContainsKey("title"))
    {
        title = fields["title"].Value;
    }

    if (fields.ContainsKey("pattern"))
    {
        patterns = @Html.CategoryList(fields["pattern"]);
    }  
        
}		
   <div>
		<ul>
            <li><strong>@Html.GetResource("Details")</strong></li>
			@if (!String.IsNullOrEmpty(sku)) { <li><strong>@Html.GetResource("SKU"):</strong> @sku</li> }
			@if (!String.IsNullOrEmpty(segment)) {<li><strong>@Html.GetResource("Segment"):</strong> @segment</li> }
			@if (!String.IsNullOrEmpty(designer)) {<li><strong>@Html.GetResource("Designer"):</strong> @designer</li> }
			@if (!String.IsNullOrEmpty(fabric)) {<li><strong>@Html.GetResource("Fabric"):</strong> @fabric</li> }
			@if (!String.IsNullOrEmpty(finishedsize)) {<li><strong>@Html.GetResource("FinishedSize"):</strong> @finishedsize</li> }
			@if (!String.IsNullOrEmpty(skill)) {<li><strong>@Html.GetResource("Skill"):</strong> @skill</li> }
@*            @if (!String.IsNullOrEmpty(patterns)) { <li><strong>@Html.GetResource("Pattern"):</strong> @patterns</li> }  *@  
	    </ul>
	</div>
    @if (!String.IsNullOrEmpty(body))
    {
	<div>
        <p>@Html.Raw(body)</p>
	</div>
    }
    @if (!Coats.Crafts.Configuration.WebConfiguration.Current.DisableWishList)
    {
	    <div>
		    @Html.Partial("~/Views/ShoppingList/AddItem.cshtml", Model)
	    </div>
    }
    @if (fields.ContainsKey("care")) {
		Html.RenderPartial("~/Views/Partials/ProductCareInstructions.cshtml", fields["care"]);
	}
  
