@using Coats.Crafts.Configuration;

@model Coats.Crafts.Controllers.CommentsController.CommentIDs

@{	
    Layout = null;
    var componentId = @Model.ComponentID;
    var fredHopperId = @Model.FredHopperID;
    var currentUrl = Request.Url.AbsolutePath;
    var rating = @Model.UserRating;
    
    int userrating;

    if (!int.TryParse(rating, out userrating))
    {
        userrating = 0;
    }
    
    List<SelectListItem> items = new List<SelectListItem>();
    items.Add(new SelectListItem { Text = "0", Value = "0" });
    items.Add(new SelectListItem { Text = "1", Value = "1" });
    items.Add(new SelectListItem { Text = "2", Value = "2" });
    items.Add(new SelectListItem { Text = "3", Value = "3" });
    items.Add(new SelectListItem { Text = "4", Value = "4" });
    items.Add(new SelectListItem { Text = "5", Value = "5" });
    items[userrating].Selected = true;
    ViewData["ratingOption"] = items;


	// Labels and links

	String textGiveRating = Html.GetResource("GiveYourRating");
	String textPostRatingValMessage = Html.GetResource("PostARatingValidationMessage");
	String textShareCreation = Html.GetResource("ShareAFinishedCreation");
	String linkShareCreation = "mailto:" + WebConfiguration.Current.ShareACreationEmailAddress;

	// Overwrite if user not logged in
	if (!User.Identity.IsAuthenticated)
	{
		linkShareCreation = Url.Content("~/registration/index.html?action=true&ReturnUrl=" + currentUrl); // Inclusion of action=true forces redirect after login/registration first step
	}
}

@if (User.Identity.IsAuthenticated)
{
<div class="rating">
	<span class="rating-header">@textGiveRating</span>
	@using (Html.BeginForm("AddRating", "comments", FormMethod.Post, new { @class = "rating-form" }))
	{            
		@Html.DropDownList("ratingOption", ViewData["ratingOption"] as SelectList, new { id = "ratingOption" })
		<div class="rateit large" data-rateit-backingfld="#ratingOption" id="ratingform" data-rateit-value="@rating" data-rateit-starwidth="23" data-rateit-starheight="20"></div>
		<input type="hidden" value="@componentId" name="hdnItemId" id="hdnItemId" />
		<input type="hidden" value="@fredHopperId" name="hdnFredHopperId" id="hdnFredHopperId" />
		<span class="field-validation-error hide" id="PostARatingValidationMessage">@textPostRatingValMessage</span>
		<button type="submit" id="submitRating" class="btn pink no-js">@textGiveRating</button>
	}
</div>
}
@*<div class="share">
	<a href="@linkShareCreation" title="@textShareCreation" class="btn pink share-creation">@textShareCreation</a>
</div>*@