@model Coats.Crafts.Models.FacetedContent
@if (Session["BRAND_FILTER"] != null)
{
    string[] brandFilterParts = Session["BRAND_FILTER"].ToString().Split('|');

    <div class="brand-filter">
        @if (Model.Brand != null)
        {
            <h1>@Model.Brand.Keywords[0].Title</h1>
            @Html.Image(Model.Brand.Keywords[0].MetadataFields["logo"])
        }
        
        @foreach (var facetSection in Model.FacetMap.FacetSections)
        {
            if (facetSection.SectionTitle.ToLower() == brandFilterParts[0].ToLower())
            {
                foreach (var facet in facetSection.Facets)
                {
                    if (facet.Text.ToLower() == brandFilterParts[1].ToLower())
                    {
            <a href="@facet.Value">Clear Brand Session</a>
                    }
                }
            }
        }
    </div>
}



<section class="product-header">
	<div class="row-fluid headers">
		<div class="span4">
			@if (Model.Brand != null)
			{
				<h1>@Model.Brand.Keywords[0].Title</h1>
				@Html.Image(Model.Brand.Keywords[0].MetadataFields["logo"])
			}
		</div>
        <div class="span4">
            <div class="sortwrap">
                <div class="sort">
                    @Html.CheckBoxFor(m => m.Sort.ActiveDiscussions)
                    @Html.LabelFor(m => m.Sort.ActiveDiscussions, "Active discussions")
                </div>
            </div>
        </div>
		@*<div class="span8">*@
		<div class="span4">
			<div class="sortwrap">
				<div class="sort">
					<label>Sort by:  
                        @Html.DropDownListFor(m => m.Sort.SortBy, Model.Sort.SortByList)
                    </label>
					<input type="submit" name="sort" id="sort" value="Sort" class="btn purple no-js" />
				</div>
			</div>
		</div>
	</div>
</section>