@using Coats.Crafts.Models;
@using Coats.Crafts.Configuration;
@using Coats.Crafts.Extensions;

@model Coats.Crafts.Models.ProductExplorer
@{         
        var sortLabel = @Html.GetResource("ChooseACategory");
		if (Model.ExtComponentSection.ChooseCategoryList != null)
        {
			foreach (var item in Model.ExtComponentSection.ChooseCategoryList)
		     {
			     if (item.Selected)
			     {
				     sortLabel = item.Text;
			     }
		     }
        }
}
<section class="product-nav">
    <div class="row-fluid">
        <div class="span12">
            @if (Model.ComponentSection.ComponentTypes.Facets.Count > 0)
			{
                for (int i = 0; i < Model.ComponentSection.ComponentTypes.Facets.Count; i++)
                {
                    FacetItem MenuItem = Model.ComponentSection.ComponentTypes.Facets[i];

                    string Class = "control-group";

                    
                    if ((MenuItem.Selected) || ((String.Format("~{0}", Request.Url.AbsolutePath.AddApplicationRoot()).EndsWith(Url.Content(MenuItem.Value)))))
                    {
                        Class += " arrow-base";
                    }
                                    
                <span class="@(Class)"><a href="@Url.Content(MenuItem.Value)">@(MenuItem.Text)</a>

                    @if (MenuItem.Value == WebConfiguration.Current.ProductExplorer.AddApplicationRoot())
                    {
                        if (Model.ExtComponentSection.ChooseCategoryList != null)
                        {
							<div class="dropdown category dark">
								<span>@sortLabel</span>
								<ul>
									@for (var ii = 0; ii < Model.ExtComponentSection.ChooseCategoryList.Count; ii++)
                                     {
                                         String classer = Model.ExtComponentSection.ChooseCategoryList[ii].Selected ? "selected" : String.Empty;
										 <li><a href="@Url.Content(Model.ExtComponentSection.ChooseCategoryList[ii].Value)" rel="nofollow" class="@classer">@Model.ExtComponentSection.ChooseCategoryList[ii].Text</a></li>
                                     }
								</ul>
							</div>
                        }
                        else
                        {
							<div class="dropdown category dark disabled">
								<span>@sortLabel</span>
							</div>
                        }
                    }
                </span>
                }
            }
            @{
                // remove search from store finder
                if (Request.Url.LocalPath != Url.Content(WebConfiguration.Current.StoreLocatorFormPath.AddApplicationRoot()))
                {
                    @Html.Partial("~/Views/Partials/FacetedSearchInput.cshtml");
                }
            }

        </div>
    </div>
</section>