@using DD4T.ContentModel;
@using DD4T.Mvc.Html;
@model IComponentPresentation
@{
    Layout = null;

    var fields = @Model.Component.Fields;

    String url = String.Empty;
    var title = String.Empty;
    var caption = String.Empty;
    IField thumb = null;

    if (fields["banner"].LinkedComponentValues.Count > 0)
    {
        var comp = fields["banner"].LinkedComponentValues[0];
        var videoEmbed = comp.Fields["youtubeVideo"].EmbeddedValues[0];

        title = videoEmbed.ContainsKey("title") ? videoEmbed["title"].Value : null;
        url = videoEmbed.ContainsKey("url") ? videoEmbed["url"].Value : null;
        caption = videoEmbed.ContainsKey("caption") ? videoEmbed["caption"].Value : null;

        thumb = videoEmbed.ContainsKey("thumb") ? fields["thumb"] : null;
    }
}
@*

///
/// Check we actually have a video
/// before outputting anything
///

*@
@if (!String.IsNullOrEmpty(url))
{
    <div id="player-overlay">
        @*
	
	///
	/// Check we have a thumbnail before
	/// outputting it and the play button
	///

	*@
        @if (thumb != null)
        {
            <a id="play-pause">@Html.GetResource("PlayPause")</a>
            @Html.Image(thumb)
        }
    </div>
    <div itemscope itemtype="http://schema.org/VideoObject">
         @if (!string.IsNullOrEmpty(title))
         {
            <meta itemprop="name" content="@title" />
         }
        @if (thumb != null)
        {
            <meta itemprop="image" content="@thumb.GetImageURL()" />
        }
        @if (!string.IsNullOrEmpty(caption))
        {
            <meta itemprop="description" content="@caption" />
        }
        <meta itemprop="url" content="@url" />
        <div class="inline-video" id="ytplayer">
            <iframe id="original" width="550" height="309" src="@url" frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </div>
}