@using DD4T.ContentModel;
@using DD4T.Mvc.Html;

@model Coats.Crafts.Models.PasswordReminder

@{
    Layout = null;
    var messageSent = ViewBag.MessageSent;
    var formAction = "http://" + Request.Url.Host + Request.Url.LocalPath;
}
<section class="component passwordreset">
	<div class="row-fluid headers">
        <div class="span12">
            <h1>@Html.GetResource("ForgottenPassword")</h1>        
        </div>
	</div>
    @if (messageSent != "true")
    {
	<div class="row-fluid">
		<div class="span6">
			<p>@Html.GetResource("ResetPasswordIntro")</p>
		</div>
	</div>
    }
	<div class="row-fluid">

    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "login-form ", @id = "passwordreminder", @action = formAction }))
	{
		if (messageSent != "true")
		{
		<div class="span4"> 
			<div class="row-fluid">
				<div class="span12 control-group">
					@Html.ValidationSummary("")
					@Html.LabelFor(model => model.ReminderEmailAddress, new { @class = "required" })
					@Html.TextBoxFor(model => model.ReminderEmailAddress, new { @class = "input-block-level" })
					@Html.ValidationMessageFor(model => model.ReminderEmailAddress)
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 control-group">
					<input type="submit" class="btn purple" value="@Html.GetResource("ResetMyPassword")" id="btnResetPassword" />
				</div>
			</div>
		</div>
		}
		else
		{
		<p class="message">@Html.GetResource("PasswordReminderSuccess")</p>
		}
	}
	</div>
</section>