@using Coats.Crafts.Gateway.CraftsIntegrationService;
@using Coats.Crafts.ControllerHelpers;
@using Coats.IndustrialPortal.Providers;
@using System.Text;
@using Coats.Crafts.Extensions;
@model Coats.Crafts.Models.EventsNearYou
@{    
	Layout = null;
	bool isAuth = User.Identity.IsAuthenticated;
	var linky = @Model.LinkURL;
	var linktitle = @Model.LinkTitle;
	var compLink = @Model.LinkComponent;

	if (compLink != null)
	{
		linky = Url.Content(compLink.GetResolvedUrl().AddApplicationRoot());
	}

	if (linky != null)
	{
		linky = linky.StartsWith("/") || linky.StartsWith("~/") ? Url.Content(linky) : linky;
	}


	string eventAddress = string.Empty;
	var noEventsFoundInArea = @Html.GetResource("NoEventsFoundInArea");
}
<section class="component two-col-feature">
    <div class="row-fluid ruled">
        <div class="span12">
            <h1>@Model.ComponentTitle</h1>
            <span><a href="@linky">@linktitle</a></span>
        </div>
    </div>
    <div class="pods">
		<div class="row-fluid">

    @{
		if (Model != null)
		{
			if (Model.Events.Count() > 0)
			{
				for (var events = 0; events < Model.Events.Count(); events++)
				{

					eventAddress = String.Format("{0}, {1}, {2}, {3}", Model.Events[events].RoadName, Model.Events[events].Town, Model.Events[events].PostCode, Model.Events[events].Country);
                    
                    <article class="pod span6">
                        <div class="image">
                            <a href="@Url.Content(Model.Events[events].URL.AddApplicationRoot())" title="@Model.Events[events].EventName"><img src="@Model.Events[events].ThumbnailUrl" alt="@Model.Events[events].EventName" /></a>
                        </div>
                    <div class="content">
                        <div class="head">
                            <h1><a href="@Url.Content(Model.Events[events].URL.AddApplicationRoot())" title="@Model.Events[events].EventName">@Model.Events[events].EventName</a></h1>
                           
							<span class="date">@Html.GetEventsNearYou(Model, events)</span>
                            
                            <span class="location">@eventAddress</span>
                        </div>
                        <div class="body">
                            <p>@Model.Events[events].EventDescription.ResolveRichText()</p>
                        </div>
                    </div>
                    </article>
				}
			}
			else
			{
                <p>@noEventsFoundInArea</p>                    
			}

		}
    }

        </div>
    </div> 
</section>
