@using DD4T.ContentModel;
@using DD4T.Mvc.Html;
@using Coats.Crafts.Extensions;
@using Coats.Crafts.Configuration;
@{
	var curConfig = WebConfiguration.Current;
	//Dictionary<string, Coats.Crafts.Configuration.SocialMediaLinkSectionElement> mediaList = SocialMediaLinkConfig.List();

    var config = SocialMediaLinkConfig.Instance;
    var mediaList = config.SocialMedia;
}

@model DD4T.ContentModel.Component

		<div id="base">
			<div class="row-fluid">
				@foreach (var link in Model.Fields["items"].LinkedComponentValues)
				{
				<div class="span3 categories">
					<div class="inner">
						<h3>@(link.Fields.ContainsKey("title") ? link.Fields["title"].Value : String.Empty)</h3>
						<ul>
						@foreach (var linky in link.Fields["links"].EmbeddedValues)
						{
							String linkText = linky.ContainsKey("linkTitle") ? linky["linkTitle"].Value : String.Empty;
							String linkUrl = linky.ContainsKey("linkURL") ? linky["linkURL"].Value : String.Empty;
							String linkTarget = linky.ContainsKey("boolNewWindow") ? "_blank" : "_top";
		  
							linkUrl = linky.ContainsKey("linkComponent") ? linky["linkComponent"].LinkedComponentValues[0].GetResolvedUrl() : linkUrl;

							if (
								!String.IsNullOrEmpty(linkText) &&
								!String.IsNullOrEmpty(linkUrl)
							)
							{
								<li><a href="@Url.Content(linkUrl.AddApplicationRoot())" target="@linkTarget">@linkText</a></li>
							}
						}
						</ul>
					</div>
				</div>
				}
				
                @Html.Action("EmailNewsletterSettings", "Profile")

				<div class="span3 social">
					<div class="inner">
						<h3>@Html.GetResource("FindUs")</h3>
						<ul class="actions">
							@foreach (var socialmedia in mediaList)
							{
								var smedia = socialmedia.Value;
								var smediaKey = socialmedia.Key;
								var stitle = Html.GetResource("FindUsOnPrefix") + " " + smediaKey;
                                <li><a target="_blank" href="@smedia.Href" title="@stitle" class="icon @smedia.Class">@smediaKey</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
			<div class="row-fluid extra">
				@{Html.RenderPartial("~/Views/Partials/CountrySelectorFooter.cshtml");}
			</div>
			<div class="row-fluid copyright">
				<ul>
					<li class="first">&copy; @Html.GetResource("Copywrite")</li>
					<li><a href="@Url.Content(curConfig.AboutUs.AddApplicationRoot())" title="">@Html.GetResource("AboutUs")</a></li>
					<li><a href="@Url.Content(curConfig.Accessibility.AddApplicationRoot())" title="">@Html.GetResource("Accessibility")</a></li>
					<li><a href="@Url.Content(curConfig.PrivacyAndCookie.AddApplicationRoot())" title="">@Html.GetResource("PrivacyAndCookie")</a></li>
					<li><a href="@Url.Content(curConfig.Legal.AddApplicationRoot())" title="">@Html.GetResource("Legal")</a></li>
                    <li class="last"><a href="@Url.Content(curConfig.SiteMap.AddApplicationRoot())" title="">@Html.GetResource("SiteMap")</a></li>
				</ul>
			</div>
		</div><!-- /#base -->